<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="SOAPService.CustomerService">
				<endpoint address="" binding="basicHttpBinding" contract="SOAPService.ICustomerService" />
			</service>
		</services>
	</system.serviceModel>
</configuration>